
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

h1 {
    color: maroon;
    font-size: medium;
  }

#generate { 
    background-color: tan;
  }

#content p{
  border-style: solid;
  border-radius: 5px;
  border-color: maroon;
  border-spacing: 1px;
  font-size: small;
  background-color: maroon;
  color:white

}

.button{ 
    font: times;
  }

  p{
    color: black;
    font-size: small;
  }

  a:link {
    color: purple;
    font: italic;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
  }
